.container {
    width: 80%;
    max-width: 1320px;
    text-align: center;
    display: flex;
    height: calc(100vh - 6rem);
    flex-shrink: 0;
    margin-top: 6rem;
    flex-direction: row;
    align-items: center;
}


.imageContainer {
    width: 50%;
    height: 80%;
}

.infoContainer {
}

.flowerName {
}

.flowerDescription {
}

.priceWrapper {
}

.price {
}

.currency {
}

.horizontalFlowerCard {
    display: flex;
    width: 100%;
}

.horizontalImageHolder {
    display: flex;
    width: 28vw;
    max-width: 660px;
    max-height: 792px;
    height: 33.4vw;
    border-radius: 6px;
    position: relative;
    background-color: var(--backgroundGray);
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.horizontalCardImage {
    border-radius: 6px;
    position: absolute;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0  ;
}
.categoryAdmin {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: row;
}
.horizontalInfo {
    display: flex;
    width:100%;
    flex-direction: column;
    margin-left: 1rem;
}

.horizontalFlowerName {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--textBrown);
}

.horizontalCardDescription {
    position: relative;
    margin-bottom: 0.6rem;
    display: flex;
    align-items: end;
}

.horizontalDescriptionWrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.flowerDescription {
    display: -webkit-box;
    justify-content: space-between;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    color: var(--textBrown);
    overflow: hidden;
    text-overflow: ellipsis;
}


.horizontalPriceWrapper {
    align-items: end;
    color: var(--backgroundGreen);
    display: flex;
    font-weight: 500;
}

.horizontalPrice {
    font-size: 3rem;
}

.horizontalCurrency {
    font-size: 2.4rem;
}

.horizontalHeart {
    position: absolute;
    object-fit: contain;
    display: flex;
    align-items: end;
    width: 3rem;
    bottom: 0;
    right: 0;
}

.horizontalPrice {

}

.horizontalCurrency {

}
.delete {
    border-radius: 4px;
    background-color: #de5151;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 3;
}

.deleteImage {
    width: 1rem;
}
.editImage {
    width: 1rem;
}

.edit {
    z-index: 3;
    border-radius: 4px;
    margin-right: 0.4rem;
    cursor: pointer;
    background-color: #e1e171;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}