:root {
    --backgroundGreen: #79A03F;
    --textBrown: #4F4038;
    --backgroundGray: #EEECEF;
    --borderGray: #bdbdbd;

}

p {
    margin: 0;
}

.logoText p {
    position: relative;
    line-height: 1;
    margin: 0;
    user-select: none;
}

span {
    cursor: pointer;
}


.header {
    background-color: var(--backgroundGreen);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 6rem;
    z-index: 3;
}

.searchBar {
    position: absolute;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
    flex-direction: row;
    width: 85%;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0 clamp(1rem, 8vw, 3rem);
    height: 6rem;
    box-shadow: 2px 2px 5px #838383;
    border-radius: 50px;
    background-color: white;
}

.logoText {
    width: auto;
    cursor: pointer;
    margin: 0 0.5rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    font-size: clamp(1.75rem, 8vw, 2.25rem);
    color: var(--textBrown);
    font-family: "Fjalla One", sans-serif;
}

.gardenCenter {
    font-family: "Roboto", sans-serif;
    color: var(--textBrown);
    font-size: clamp(0.75rem, 3.5vw, 1rem);
    font-weight: 600;
}

.navigationPanel {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--textBrown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.navigationPanel p, .navigationPanel span {
    cursor: pointer;
    margin: 0 clamp(0.5rem, 1.25dvw, 1.25rem);
}

.rightPart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.5rem;
}

.glass img {
    height: 1.75rem;
    width: 1.75rem;
}

.account {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.account img {
    height: 2.25rem;
    width: 2.25rem;
}

.hamburgerMenu {
    cursor: pointer;
    display: flex;
}

.hamburgerMenu img {
    height: 2rem;
}

.phone, .faceBook {
    font-size: 1.15rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    position: relative;
}

.hamburger {
    height: 4rem;
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.2s;
}

.x {
    position: absolute;
    transition: transform 0.3s, opacity 0.2s;
    opacity: 0;
    display: flex;
}

.phone img {
    height: 1.5rem;
}

.faceBook img {
    margin-right: 0.2rem;
    height: 1.5rem;
}

.infoWrapper {
    max-width: 1320px;
    position: absolute;
    align-items: center;
    height: 1rem;
    top: 1rem;
    width: 80%;
    display: flex;
    padding: 0 clamp(1rem, 8vw, 3rem);
    justify-content: space-between;
}

.searchWrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.search {
    position: relative;
    display: flex;
    margin: 0 2rem;
    height: 2.5rem;
    border-radius: 18px;
    padding: 0 1rem;
    font-size: 1.125rem;
}

.searchArray {
    position: absolute;
    display: flex;
    margin: 3rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

.searchArrayList {
    margin-top: 0;
    z-index: 20;
    max-height: 21rem;
    overflow-y: scroll;
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 5px #838383;
    list-style: none;
    padding-left: 1rem;
    margin-right: 4rem;
    border-radius: 8px;
}

.searchArrayElement {
    transition: color 0.25s;
    cursor: pointer;
    list-style: none;
    font-size: 1.125rem;
    padding: 0.25rem 0;
}

.searchArrayElement:hover {
    color: var(--backgroundGreen);
}

@media (max-width: 992px) {


}

@media (max-width: 768px) {
    .header {
        height: 3rem;
    }

    .search {
        margin: 0 0.5rem;
        font-size: 0.75rem;
    }

    .searchArrayElement {
        font-size: 0.75rem;
    }

    .searchArray {
        margin-left: 0.5rem;
        margin-right: 0;
        width: 100%;
    }

    .searchArrayList {
        margin-right: 1rem;
    }

    .searchBar {
        width: 100%;
        border-radius: 0;
        margin-top: 4.5rem;
        height: 4.5rem;
    }

    .phone, .faceBook {
        margin-left: 0;
        font-size: clamp(0.5rem, 4vw, 0.75rem);
    }

    .phone img, .faceBook img {
        height: 0.75rem;
    }

    .infoWrapper {
        width: 85%;
        top: 0.25rem;
    }

}
