.container {
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 6rem);
    flex-shrink: 0;
    margin-top: 6rem;
}

.exit {
    top: 4rem;
    right: 7rem;
    position: absolute;
    cursor: pointer;
}