.deliveryWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.delivery {
    width: 80%;
    display: flex;
    margin-top: 12rem;
    margin-bottom: 3rem;
    flex-direction: column;
    max-width: 1320px;
}

.deliveryTitle {
    color: var(--textBrown);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.deliveryText {
    color: var(--textBrown);

}

@media (max-width: 768px) {
    .delivery {
        margin-top: 8rem;
        margin-bottom: 0;
    }
}